{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="display-overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <!-- Iterates through current_categories that is returned from the category filter logic within the all_products view in views.py in this folder -->
                {% for c in current_categories %}
                <!-- Uses programmatic category name for the link -->
                <a href="{% url 'products' %}?category={{ c.name }}" class="category-badge text-decoration-none">
                    <!-- Displays friendly name to user -->
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <!-- To detect selected sort parameter from current_sorting template variable using simple if statements -->
                                 <!-- Updates select box accordingly -->
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <!-- Link to go back to main product page after sorting -->
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            <!-- |length to count number of products. If search_term returned from context in all_products view is present, let user know what they searched too -->
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <!-- Displays link to product and image -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                            {% else %}
                            <!-- Displays link and image to product even if no image exists so user can still add to bag -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" alt="{{ product.name }}" src="{{ MEDIA_URL }}noimage.png">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                        <!-- If the product has a category (it should) -->
                                        {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <!-- Link to category of product using ?category= and the product's programmatic category name -->
                                            <a href="{ url 'products' }?category={{ product.category.name }}" class="text-muted">
                                                <!-- Displays the category's friendly name i.e. the normal looking, non programmatic name -->
                                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- For the horizontal line below the products on different size screens when differing amounts of products are rendered -->
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Link to send user to the top of the product list -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}
<!-- block.super appends code to anything already in the block as opposed to replacing it -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Handles the click event function upon the user clicking the btt-button above 
        $(".btt-link").click(function(e) {
            // Scrolls to the top of the page
            window.scrollTo(0,0)
        })
    </script>

    <script type="text/javascript">
        // Capture change event in the sort selector
        $("#sort-selector").change(function() {
            // selector variable equal to the selector changed to
            var selector = $(this);
            // currentURL variabl equal to a new URL object that takes in the current window's location.
            // Allows the replacement of the current get parameters to update sorting method
            var currentUrl = new URL(window.location);
            
            // selectedVal is the value attribute of the option element in the selector box
            var selectedVal = selector.val();
            // If the value is not reset to the default and instead to another sorting method
            if(selectedVal != "reset"){
                // Because the sort and directions in the options are split by _ i.e. "price_asc"
                // sort gets the sort option i.e. price
                var sort = selectedVal.split("_")[0];
                // direction gets either the asc or desc option 
                var direction = selectedVal.split("_")[1];

                // Replaces the GET parameters in the URL using searchParams.set()
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction)
            } else {
                // If the user has selected the reset option, sort and direction parameters are deleted and the location is replaced and page reloaded with products as default
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction")

                // Replace the URL with the currentURL from above and replacing the location will also reload the page
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}